/*Import fonts from Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4&family=Source+Serif+Pro&display=swap");
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 40px;
}
header {
    background-color: #263d6c;
    display: grid;
    grid-template-columns: 100px auto;
}
nav a:hover {
    background-color: #251f21;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
}
.logo {
    background-color: #263d6c;
    width: 150px;
    height: 80%;
}
.american_flag-img {
    width: 150px;
    height: 80%;
    margin-right: -62px;
}
.arizona_flag-img {
    width: 150px;
    height: 80%; 
    margin-right: -53px; 
}
#hero-img {
    width: 100%;
    margin-top: -30px;
    height: 900px;
}
.title_1-msg {
    text-align: center;
    font-family: "Source Serif Pro",Helvetica, sans-serif;
}
.who-grid p {
    text-align: center;
    grid-column: 2/10;
    grid-row: 1/3;
}
footer {
    background-color: #263d6c;
    color: white;
    padding: 25px 50px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
.who-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.who_1-img {
    width: 400px;
    grid-column: 2/4;
}
.who_2-img {
    width: 400px;
    grid-column: 5/7;
    height: 94%;
}
.who_3-img {
    width: 400px;
    grid-column: 8/10;
    height: 96%;
}
body {
    background-color: #dfdfd9;
    font-family: "Source Serif 4", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.title_2-msg {
    text-align: center;
    font-family: "Source Serif Pro",Helvetica, sans-serif ;
}
.what-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.what-grid p {
    text-align: center;
    grid-column: 2/10;
    grid-row: 1/3;
}
.what_1-img {
    width: 400px;
    grid-column: 2/4; 
}
.what_2-img {
    width: 400px;
    grid-column: 5/7;
    height: 85%;
}
.what_3-img {
    width: 400px;
    grid-column: 8/10;
    height: 85%; 
}
.social img {
    padding-top: 15px;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
/* start of import_dates.html page */
#hero_dates-img {
    width: 100%;
    margin-top: -30px;
}
.band_camp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title_band_camp-msg {
    text-align: center;
    grid-column: 5/7;
    color: white;
    font-family: "Source Serif Pro",Helvetica, sans-serif ;
}
.band_camp-img {
    grid-column: 3/9;
    width: 100%;
    height: 400px;
    z-index: -1;
    margin-top: -100px;
}
.band_camp_info {
    grid-column: 2/10;
}
.football_games-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title_football_games-msg {
    text-align: center;
    grid-column: 5/7;
    color: white;
    font-family: "Source Serif Pro",Helvetica, sans-serif ;
}
.football_games-img {
    grid-column: 3/9;
    width: 100%;
    height: 400px;
    z-index: -1;
    margin-top: -100px;
}
.football_game_info {
    grid-column: 2/10;
}
.competitions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title_competition-msg {
    text-align: center;
    grid-column: 5/7;
    color: white;
    font-family: "Source Serif Pro",Helvetica, sans-serif ;
}
.competition-img {
    grid-column: 3/9;
    width: 100%;
    height: 400px;
    z-index: -1;
    margin-top: -100px;
}
.competition_info {
    grid-column: 2/10;
}